<link rel="stylesheet" href="/styles.css">
<div class="main container">
    <h1 class="text">Introduction</h1>
    <div class="sub container">
        <div class="sub text">
            <div class="desc" style="font-family: pixeloid; font-size: 12px; margin-bottom: 10px;">
                <li>ChatApp is an end-to-end encrypted chatting webapp.</li>
            </div>    
        </div>
    </div>

    <h1 class="text">Purpose</h1>
    <div class="sub container">
        <div class="sub text">
            <div class="desc" style="font-family: pixeloid; font-size: 12px; margin-bottom: 10px;">
                <li>This project aims to demonstrate my proficiency in full-stack development, with a particular emphasis on back-end development.</li>
            </div> 
        </div>
    </div>

    <h1 class="text">Goal</h1>
    <div class="sub container">
        <div class="sub text">
            <div class="desc" style="font-family: pixeloid; font-size: 12px; margin-bottom: 10px;">
                <li>The goal of this project is to develop a fully functional webapp that allows the user to signup, login, and communicate with other users while maintaining a simple easy-to-use, yet fun and unique user interface.</li>
            </div>     
        </div>
    </div>

    <h1 class="text">Architecture and Design</h1>
    <div class="sub container">
        <div class="sub text">
            <div class="desc" style="font-family: pixeloid; font-size: 12px; margin-bottom: 20px;">
                <li>Back-End Framework: Node.js & Express</li>
                <li>Communication Protocol: WebSocket (Socket.io)</li>
                <li>Database: MongoDB</li>
                <li>Security: Password hashing (bCrypt) & end-to-end encryption (CryptoJS).</li>
                <li>Encryption Algorith: RSA</li>
                <li>Authentication: JWT</li>
                <li>Interface: HTML & CSS</li>
            </div>
            <div class="start chatting">
                <img src="/assets/nodejsexpress.png" style="width: 600px; height: 220px;"></img>
            </div>
            <div class="start chatting">
                <img src="/assets/mongodb.png" style="width: 620px; height: 140px;"></img>
            </div>
        </div>
    </div>
</div>