<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

    <%- include('partials/header'); %>

    <form>
        <%- include('partials/login-form'); %>
    </form>
    
    <script src="/scripts/login.js"></script>

    <%- include('partials/footer'); %>

</body>
</html>